# .github/workflows/publish.yml
name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

# Publish using custom workflow
jobs:
  publish:
    permissions:
      id-token: write # Required for authentication using OIDC
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Dart
        uses: dart-lang/setup-dart@v1

      - name: Setup Flutter
        uses: flutter-actions/setup-flutter@v3
        with:
          channel: stable
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Test package
        run: flutter test

      - name: Publish package to pub.dev
        run: flutter pub publish --force
